<h2>All Missions per hour<h2>
<%= line_chart @current_teleporter.missions_per_hour %>

<h2>All Missions per minute<h2>
<%= line_chart @current_teleporter.missions_per_minute %>

<h2>Successful Missions<small>(lights on)</small></h2>
<%= line_chart @current_teleporter.successful_missions_per_hour %>

<h2>Destination stats:</h2>

<%= column_chart @current_teleporter.log_entries.where(lights_on: "True").group(:light_directive).count %>

<div id="container"></div>
