<h2>All Missions<h2>
<%= line_chart @current_teleporter.missions_per_hour %>
<h2>Successful Missions<small>(lights on)</small></h2>
<%= line_chart @current_teleporter.successful_missions_per_hour %>

<h2>Destination stats:</h2>

<% @current_teleporter.pattern_list.each do |pattern| %>
<p>
  <%= pattern.titlecase + ': ' + @current_teleporter.successful_mission_count(pattern).to_s  %>
</p>
<% end %>
