.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 80px;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 32pt;
}

@media(max-width: 1200px) {
  .navbar-brand {
    font-size: 20pt;
  }
}

@media(max-width: 1000px) {
  .navbar-brand {
    font-size: 14pt;
  }
}

@media(max-width: 967px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

    .navbar-collapse {
      border-top: 0;
      margin-top: 20px;
    }

    .navbar-brand {
      font-size: 14pt;
    }
}

@media(max-width: 500px) {
  .navbar-brand {
    font-size: 10pt;
  }
}



body {
  padding-top: 100px;
  font-family: 'PT Sans Caption', sans-serif;
}
