// Place all the styles related to the lights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-toggle-lights {
  cursor:pointer;
  width: 300px;
  height: 300px;
  border: none;
  line-height: 320px;
  color: white;
  font-weight: bold;
}

.btn-turn-off {
  background: image-url('off-button.png') no-repeat;
}

.btn-turn-on {
  background: image-url('on-button.png') no-repeat;
}

.lights-on {
  color: #2E5339;
  font-weight: bold;
}

.lights-off {
  color: #F72C25;
  font-weight: bold;
}
