// Place all the styles related to the MissionSettings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#current-light-directive {
  background-color: white;
}

#current-sound-pattern {
  background-color: white;
}

.buttons-well {
  margin: 10px;
}

.random-button {
  margin: 10px;
}

.btn-with-image {
  height: 180px;
  line-height: 50px;
  padding-top: 140px;
  font-size: 14pt;
  font-weight: bold;
  color: gray;
}

.btn-random {
  width: 100%;
}
