// Place all the styles related to the StateSettings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-toggle-lights {
  cursor:pointer;
  width: 238px;
  height: 337px;
  border: none;
  outline: none;
}

.btn-turn-off {
  background: image-url('on-switch.png') no-repeat;
}

.btn-turn-on {
  background: image-url('off-switch.png') no-repeat;
}

.lights-on {
  color: #2E5339;
  font-weight: bold;
}

.lights-off {
  color: #F72C25;
  font-weight: bold;
}

.btn-toggle-sound {
  cursor:pointer;
  width: 238px;
  height: 337px;
  border: none;
  outline: none;
}

.btn-turn-off-sound {
  background: image-url('on-switch-sound.png') no-repeat;
}

.btn-turn-on-sound {
  background: image-url('off-switch-sound.png') no-repeat;
}

.sound-on {
  color: #2E5339;
  font-weight: bold;
}

.sound-off {
  color: #F72C25;
  font-weight: bold;
}

.btn-toggle-power-off {
  cursor: default;
  width: 238px;
  height: 337px;
  border: none;
  outline: none;
}

.power-on {
  color: #2E5339;
  font-weight: bold;
}

.power-off {
  color: #F72C25;
  font-weight: bold;
}

.btn-turn-off-power {
  background: image-url('active-poweroff.png') no-repeat;
}

.btn-turn-on-power {
  background: image-url('inactive-reboot.png') no-repeat;
}
